<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<ul>
   <a href="/hn"><li>Hanoi</li> </a>
   <a href="/hcm"> <li>HCM</li></a>
   <a href="/ct">  <li>CT</li></a>
   <a href="/dn">  <li>DN</li></a>
</ul>